.wrap{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    row-gap: 20px;

}
.block{
    width: 90%;
    text-align: center;
    border: black 1px solid;
}
.blockTitle{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 2%;
    row-gap: 20px;
}
.postBlock{
    width: 18%;
    height: 140px;
    text-align: center;
    border: black 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}